# asdf tool version specification
#
# To use it:
#   * Install asdf: https://asdf-vm.com/#/core-manage-asdf-vm
#   * `asdf plugin install erlang`
#   * `asdf plugin install elixir`
#   * Install Erlang deps: https://github.com/asdf-vm/asdf-erlang#before-asdf-install
#   * Run `asdf install` (watch for any errors during Erlang build!)
#   * Run your normal `mix` and `iex` commands as you normally would

elixir 1.11.2-otp-23
erlang 23.1.4
nodejs 14.15.1 # node-sass doesn't work with node v15 on Linux
