<h1 class="text-center">Triggers</h1>

<div class="em text-center text-muted">
  That's the wonderful thing about Triggers<br>
  Is that Triggers are wonderful things<br>
  Their bottoms are made out of rubber<br>
  Their tops are made out of springs...
</div>
