<div class="w-600px mx-auto">
  <h3>New trigger</h3>
  <%= render "_form.html", conn: @conn, current_user: @current_user, changeset: @changeset, method: :post, path: Routes.trigger_path(@conn, :create) %>
</div>
