
.resolved-bubble {
  float: left;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.25em;
  margin-right: 0.2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #000;

  &.--done {
    background-color: #28a745;
  }

  &.--wont_do {
    background-color: #dc3545;
  }
}
